/*-------------------------------------------------------------------------------------------------
-------------------------------root og generel styling---------------------------------------------
--------------------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* --- color --- */
  --background: #fff9e5;
  --text: #1a1400;
  --color2: #fff3cc;
  --color3: #ffedb2;
  --color4: #ffe799;
  --color5: #ffe280;
  --color6: #ffdc66;
  --color7: #ffd64d;
  --color8: #ffca1a;
  --color9: #dfb320;
  --color10: #43360a;

  /* --- font weights --- */
  --ekstraLight: 200;
  --lightItalic: italic 300;
  --regular: 400;
  --semiBold: 600;

  /* --- font sizes --- */
  --fontsizeXS: 0.5rem; /* 8px */
  --fontsizeS: 0.75rem; /* 12px */
  --fontsizeM: 1rem; /* 16px */
  --fontsizeL: 1.5rem; /* 24px */
  --fontsizeXL: 2rem; /* 32px */
}

/* --- reset --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------
-----------------------------------------------forside---------------------------------------------
--------------------------------------------------------------------------------------------------*/

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text);
}

#root {
  background-color: var(--background);
  width: 100%;
  max-width: 480px;
  height: 100%;
  font-family: "Nunito", sans-serif;
  position: relative;
}

/* Navbar */
.navbar {
  background-color: var(--color9);
  width: 100%;
  max-width: 480px;

  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 46px;
}

.navbar_navitems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar img {
  width: 30px;
}

/* Header */

/* Lister */

.beehive {
  align-items: center;
  aspect-ratio: cos(30deg);
  background: var(--color3);
  /* clip-path makes hexagon shape */
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  display: flex;
  flex-direction: column;
  font-weight: var(--semiBold);
  height: 125px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.beehive h6 {
  font-size: var(--fontsizeM);
}

.beehive .date {
  font-size: var(--fontsizeXS);
}

.beehive img {
  padding: 2% 0;
}

.beehive .item_count {
  font-size: var(--fontsizeS);
}

.beehive .wave {
  /* to make the wave shape */
  --mask:
    radial-gradient(89.44px at 25% 120px,#000 99%,#0000 101%) calc(25% - 80px) 0/160px 100%,
    radial-gradient(89.44px at 25% -80px,#0000 99%,#000 101%) 25% 40px/160px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);

  /* other wave styling */
  background-color: var(--color7);
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* Pakkelsite */

/* Bruger */

/* Log ind */

/* Indstillinger */

/*-------------------------------------------------------------------------------------------------
--------------------------------------------Media query--------------------------------------------
--------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------
---------------------------------------------animation---------------------------------------------
--------------------------------------------------------------------------------------------------*/
