/*-------------------------------------------------------------------------------------------------
-------------------------------root og generel styling---------------------------------------------
--------------------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* --- color --- */
  --background: #fff9e5;
  --text: #1a1400;
  --color2: #fff3cc;
  --color3: #ffedb2;
  --color4: #ffe799;
  --color5: #ffe280;
  --color6: #ffdc66;
  --color7: #ffd64d;
  --color8: #ffca1a;
  --color9: #dfb320;
  --color10: #43360a;

  /* --- font weights --- */
  --ekstraLight: 200;
  --light: 300;
  --regular: 400;
  --semiBold: 600;

  /* --- font sizes --- */
  --fontsizeXS: 0.5rem; /* 8px */
  --fontsizeS: 0.75rem; /* 12px */
  --fontsizeM: 1rem; /* 16px */
  --fontsizeL: 1.5rem; /* 24px */
  --fontsizeXL: 2rem; /* 32px */
}

/* --- reset --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* buttons */
button {
  padding: 10px 20px;
  background-color: var(--color4);
  color: var(--text);
  border: none;
  font-family: "Nunito", serif;
  font-weight: var(--regular);
  font-size: var(--fontsizeM);
}

/*-------------------------------------------------------------------------------------------------
-----------------------------------------------forside---------------------------------------------
--------------------------------------------------------------------------------------------------*/

body {
  width: 100dvw;
  /* height: 100dvh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--text);
}

main {
  margin: 0 1rem;
}

#root {
  background-color: var(--background);
  width: 100%;
  /* max-width: 480px; */ /* mobil skærm på computer*/
  height: 100%;
  font-family: "Nunito", sans-serif;
  /* position: relative; */
  padding: 6rem 0;
  min-height: 100dvh;
}

/* Navbar */
.navbar {
  background-color: var(--color7);
  width: 100%;
  max-width: 480px;

  position: fixed;
  bottom: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 46px;
}

.navbar_navitems {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar img {
  width: 22px;
}

.navLinks {
  color: var(--text);
  font-size: var(--fontsizeS);
}

/* header */
.header {
  background-color: var(--background);
  max-width: 100%;
  position: fixed;
  top: 0px;
}

.logo-header {
  background-color: var(--background);
  max-width: calc(480px - 2rem);
  height: 5rem;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 0 1rem;
  gap: 1rem;
  overflow: hidden;
  object-position: 50% 50%;
  padding-bottom: 1rem;
}

.logo-img {
  width: 2.5rem;
}

.logo-text {
  height: 20px;
  width: 100%;
  object-fit: cover;
  object-position: left 50%;
}

/* Lister */

.beehive {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-items: center;
  margin: 22.5px auto 0;
  width: 345px;
}

.hexagon {
  aspect-ratio: cos(30deg);
  background: var(--color3);
  /* clip-path makes hexagon shape */
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  font-weight: var(--semiBold);
  grid-column: span 2;
  grid-row: span 5;
  height: 125px;
  margin-top: -22.5px;
  position: relative;
}

.beehive .hexagon:nth-child(5n + 2) {
  margin-left: 10px;
  margin-right: 10px;
}

.beehive .hexagon:nth-child(5n + 4) {
  justify-self: end;
}

.beehive .hexagon:nth-child(5n + 5) {
  justify-self: start;
}

.beehive .hexagon:nth-child(5n + 4),
.beehive .hexagon:nth-child(5n + 5) {
  grid-column: span 3;
  margin-left: 5px;
  margin-right: 5px;
}

.hex_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hexagon h6 {
  font-size: var(--fontsizeM);
}

.hexagon .date {
  font-size: var(--fontsizeXS);
}

.hexagon img {
  padding: 2% 0;
}

.hexagon .item_count {
  font-size: var(--fontsizeS);
}

.hexagon .wave {
  /* to make the wave shape */
  --mask: radial-gradient(89.44px at 25% 120px, #000 99%, #0000 101%)
      calc(25% - 80px) 0/160px 100%,
    radial-gradient(89.44px at 25% -80px, #0000 99%, #000 101%) 25% 40px/160px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  /* other wave styling */
  background-color: var(--color7);
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* Pakkeliste */
.packinglist-header,
.packinglist-info {
  display: flex;
  justify-content: space-between;
}

.packinglist h1,
.packinglist h2,
.packinglist h4,
.packinglist p,
.packinglist li {
  font-weight: var(--regular);
}

.linje-moenster {
  height: 1.5px;
  flex-direction: row;
  background-image: url("img/linje-moenster.svg");
  background-size: cover;
  width: 100%;
  background-size: auto 100%;
  margin: 1rem 0;
}

.category {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  /* align-self: stretch; */
  background-color: var(--color4);
  gap: 0.8rem;
}

.category-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category-header div {
  display: flex;
  gap: 1rem;
}

.category ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category li:last-child {
  font-weight: var(--light);
  font-style: italic;
}

.category li {
  display: flex;
  gap: 1rem;
}

/* Bruger */

/* Log ind */
.biGIF {
  width: 210px;

  animation: flyvBi 2s ease-in-out forwards;
}

/* Indstillinger */

/* Plusknap */
.plusButton_border {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color6);
  scale: 0.5;

  /* Hexagon*/
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  height: 125px;
  /* overflow: hidden; */
  position: relative;
  width: 105px;
}

.plusButton {
  height: 52px;
  background-color: var(--color5);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Hexagon*/
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  height: 125px;
  /* overflow: hidden; */
  position: relative;
  width: 105px;
  scale: 0.9;
}

.plus_button_plus {
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: var(--text);
  border-radius: 200px;
  rotate: 90deg;
  scale: 2;
}

.plusButton p {
  font-size: 7px;
  font-weight: var(--semiBold);
  scale: 3;
}

.rotated {
  rotate: 0deg;
  transition: all 2s ease-in-out;
}

/*-------------------------------------------------------------------------------------------------
--------------------------------------------Media query--------------------------------------------
--------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------
---------------------------------------------animation---------------------------------------------
--------------------------------------------------------------------------------------------------*/
